* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog {
  text-align: center;
  padding-top: 2em;
  width: 60%;
  margin: 0 auto;
}


//This is still test so ignore the styling...
.blogTitle {
  border: 1px solid rgb(68, 68, 68);
  word-wrap: break-word;
  border-bottom: 0px;
  text-align: left;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  padding: 1%;
  text-transform: capitalize;
  background: #D66D75;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.blogBody {

  border: 1px solid rgb(51, 51, 51);
  width: auto;
  word-wrap: break-word;
  padding: 5%;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: capitalize;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
